.navbar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;

  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
  height: 100%;
  width: 30vw;
}

.navbar-open {
  transform: translateX(0%);
}

.navbar-list {
  width: 300px;
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .navbar-list {
    width: 100%;
  }
}
